<div class="container mt-5">
<h2>My Bookings</h2><br><br>
    <% @bookings.each do |booking| %>
      <h5>Booking N° : #<%= booking.id %></h5>
      <%= link_to "#{booking.spaceship.name}", my_booking_path(booking) %><br>
      <%= booking.startbook_time %><br>
      <%= booking.endbook_time %><br><br><br>
    <% end %>
</div>
