<div class="container">
    Date de début du booking : <%= @booking.startbook_time %><br>
    Date de fin du booking : <%= @booking.endbook_time %><br>
</div>
<br><br>
<%= link_to "Back-Home", root_path %>
