<div class="container">
  <h3>Mes Dates de Booking</h3><br>
  Date de début du booking : <%= @booking.startbook_time %><br><br>
  Date de fin du booking : <%= @booking.endbook_time %><br>
  <br><br>
  <%# lien de redirection  %>
  <%= link_to "All my Bookings", my_bookings_path %>
</div>
