<h3>Book now </h3><br>

<%= simple_form_for [@spaceship, @booking] do |f| %>
  <%= f.input :startbook_time, as: :date, html5: true  %>
  <%= f.input :endbook_time, as: :date, html5: true  %>
  <button type="submit" class="btn btn-primary"><%= f.button :submit %></button>
<% end %>
